.about {
    display: flex;
    flex-direction: column;
    background: #84A178;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;


}

.modal-p {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.title-p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.button-studio {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1875;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #F8D24E;
    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brand-color-white-text);
    width: 164px;
    height: 42px;
}

.button-studio:hover,
.button-studio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.iframe-video {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.foto {
    position: relative;
    display: flex;
    width: 280px;
    height: 280px;
    background-color: var(--second-color);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.fon {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.cow {
    position: absolute;
    top: 20px;
    left: 0;
}


.title-tradition {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 12px;
    color: #FCFCFC;
}

.title-how {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 32px;
    color: #FCFCFC;
}

.about-list {
    gap: 4px;
    margin: 0 auto;
    padding: 0;
}

.about-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 162%;
    color: #FCFCFC;
    width: 220px;
    margin: 0;
    list-style: none;
}

.subtitle {
    margin: 0;
}


/* Стили для подложки */

.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    height: 459px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 28px;
    padding-bottom: 20px;
    border: 2px solid var(--second-color);
    border-radius: 10px;

    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 280px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    background-color: #fff;
    transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;


}


/* Стили для кнопки закрытия */

.modal__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    fill: #444;
    cursor: pointer;
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

.modal-open {
    width: 164px;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--second-color);
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
}