/* Section "Advantages" */

.advantages {
	justify-content: center;
	background-color: var(--primal-color);
	margin: auto;
	padding-top: 25px;
	padding-bottom: 32px;
	font-family: Montserrat, sans-serif;
}

.advantages-list {
	padding: 0px;
	margin: 0px;
}

.advantages-item {
	width: 230px;
	margin: auto;
}

.advantages-item:before {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0px auto 16px;

	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--second-color);
}

.advantages-item.icon-cow:before {
	background-image: url(../images/img/advantages/cow-min.png);
}

.advantages-item.icon-cow:hover:before,
.advantages-item.icon-cow:focus:before {
	transition-property: transform;
	transition-duration: 1000ms;
	transition-delay: 0ms;
	transform: rotate(360deg);	
}

.advantages-item.icon-weight:before {
	background-image: url(../images/img/advantages/weight-min.png);
}

.advantages-item.icon-weight:hover:before,
.advantages-item.icon-weight:focus:before {
	transform: rotate(360deg);
	transition-property: transform;
	transition-duration: 1000ms;
	transition-delay: 0ms;
}

.advantages-item.icon-ice-cream:before {
	background-image: url(../images/img/advantages/ice.crema-min.png);
}

.advantages-item.icon-ice-cream:hover:before,
.advantages-item.icon-ice-cream:focus:before {
	transform: rotate(360deg);
	transition-property: transform;
	transition-duration: 1000ms;
	transition-delay: 0ms;
}

.advantages-item:not(:last-child) {
	margin-bottom: 32px;
}

@media screen and (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.advantages-item.icon-cow:before {
		background-image: url(../images/img/advantages/cow-min.2x.png);
	}
	.advantages-item.icon-weight:before {
		background-image: url(../images/img/advantages/weight-min.2x.png);
	}
	.advantages-item.icon-ice-cream:before {
		background-image: url(../images/img/advantages/ice.crema-min.2x.png);
	}

}

.advantages-item-title {
	font-weight: 700;
	font-size: 58px;
	line-height: 1.22;
	color: var(--focus-color);
	text-align: center;
	margin-bottom: 16px;
}

.advantages-item-text {
	margin: 0px;
	font-weight: 400;
	line-height: 1.76;
	color: var(--focus-color);
	text-align: center;
}

@media screen and (min-width: 768px) {
	.advantages {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.advantages-list {
		display: flex;
		padding: 0px 44px;
	}

	.advantages-item {
		width: 152px;
	}

	.advantages-item::before {
		margin-bottom: 32px;
	}

	.advantages-item:not(:last-child) {
		margin-bottom: 0px;
		margin-right: 80px;
	}

	.advantages-item-title {
		margin-bottom: 12px;
	}
}

@media screen and (min-width: 1200px) {
	.advantages {
		padding-bottom: 80px;
	}
	.advantages-list {
		padding: 0px;
	}

	.advantages-item {
		width: 368px;
	}

	.advantages-item::before {
		margin-bottom: 40px;
	}

	.advantages-item:not(:last-child) {
		margin-right: 32px;
	}
}
