*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

:root {
	--primal-color: #84a178;
	--second-color: #f8d24e;
	--hover-color: #0a8817;
	--focus-color: #fcfcfc;
	--disablet-color: #ababab;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	font-family: "Monserate", sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.container {
	width: 100%;
	max-width: 480px;
	height: 100%;
	background-color: var(--primal-color);
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
		padding-left: 16px;
		padding-right: 16px;
	}
}
