*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  --primal-color: #84A178;
  --second-color: #F8D24E;
  --hover-color: #0A8817;
  --focus-color: #FCFCFC;
  --disablet-color: #ABABAB;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Monserate", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.container {
	width: 100%;
	max-width: 420px;
	height: 100%;
	background-color: var(--primal-color);
	padding: 20px;
	margin: auto;
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
		padding-left: 16px;
		padding-right: 16px;
	}
}





