*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  --primal-color: #84A178;
  --second-color: #F8D24E;
  --hover-color: #0A8817;
  --focus-color: #FCFCFC;
  --disablet-color: #ABABAB;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


  .container {
    width: 100%;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }









.team {
    font-size: 56px;
    text-align: center;
    margin-top: 250px;
    animation-name: spin;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }