.our-location-modal {
	width: 568px;
	background: #fcfcfc;
	border: 2px solid #f8d24e;
	border-radius: 10px;
}

.open-map-btn {
	margin: auto;
	margin-top: 32px;
	display: block;
}

.title-modal-location {
	margin-bottom: 32px;
	font-family: "Seymour One";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}
