/*--for Mobile Productions--*/
/* 0-px - 767px */

@media screen and (min-width: 320px) and (max-width: 479px) {
	.section {
		background-image: url(C:\Users\Admin\Desktop\Projects\project_team-9\src\images\img\products\Backgroud\backgroud_mobile.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 320px;
		padding: 0 auto;
		margin: 0 auto;
	}

	h1 {
		width: 270px;
		left: 278px;
		top: 94px;

		font-family: Seymour One;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.26;
		letter-spacing: 0.04em;
		text-align: center;
		color: #131313;
	}

	h2 {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.04em;
		text-align: center;
	}
	.card-text {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0.04em;
		text-align: center;
	}
	.product-card-item {
		height: 420px;
		width: 280px;
		left: 273px;
		top: 280px;
		border-radius: 50%;
	}
}
/*--Mobile 480px--*/
@media screen and (min-width: 480px) and (max-width: 767px) {
}
/*--F0R TABLET--*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
}
@media screen and (min-width: 1200px) {
	:root {
		--card-set-gap: 29px;
	}
	.section {
		background-image: url(C:/Users/Admin/Desktop/Projects/project_team-9/src/images/img/products/Backgroud/backgroud_desktop.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 1200px;
		padding: 0 auto;
		margin: 0 auto;
	}

	h1 {
		/*width: 270px;
    left: 278px;
    top: 94px;*/

		font-family: Seymour One;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.26;
		letter-spacing: 0.04em;
		text-align: center;
		color: #131313;
	}
	.products-card-set {
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(-1 * 29px);
		margin-left: calc(-1 * 29px);
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.products-card-set > .products-card-item {
		flex-basis: calc(100% / 3 - 29px);
		margin-left: 29px;
		margin-top: 29px;
	}
	.card {
		padding-left: 34px;
		padding-right: 34px;
		max-width: 370px;
		background-color: #efd478;
		border-radius: 24px;
		overflow: hidden;
	}
	.card-thumb {
		width: 302px;
		height: 318px;
		margin-bottom: 30px;
		border-radius: 50%;
		overflow: hidden;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.card-content {
		padding-left: 64px;
		padding-right: 64px;
		padding-bottom: 60px;
	}
	.card-title {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.04em;
		text-align: center;
		margin-top: 0;
		margin-bottom: 66px;
	}

	.card-text {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.78;
		letter-spacing: 0.04em;
		text-align: center;
		margin-bottom: 50px;
	}
	.products-card-item {
		height: 536px;
		width: 370px;
	}
}
