<section class="advantages">
	<div class="container">
		<h2 class="visually-hidden">advantages</h2>
		<ul class="advantages-list">
			<li class="advantages-item">
				<h3>721</h3>
				<p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages-item">
				<h3>16kg</h3>
				<p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages-item">
				<h3>84</h3>
				<p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
		</ul>
	</div>
</section>
