<section class="advantages">
	<div class="container">
		<h2 id= "advantages" class="visually-hidden">advantages</h2>
		<ul class="advantages-list">
			<li class="advantages-item icon-cow element-animation">
				<h3 class="advantages-item-title">721</h3>
				<p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages-item icon-weight element-animation">
				<h3 class="advantages-item-title">16kg</h3>
				<p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages-item icon-ice-cream element-animation">
				<h3 class="advantages-item-title">84</h3>
				<p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
		</ul>
	</div>
</section>
