<section class="section-contact">
	<div class="container address">
		<div class="card-address" id="contact">
			<h2 class="title">Cafe</h2>
			<p class="name-cafe element-animation">CAFE</p>
			<ul>
				<li class="li-town">
					<p class="town element-animation">Chicago</p>
					<a
						target="blank"
						href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034016,-87.7797405,17z/data=!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405!16s%2Fg%2F11jnxh2b00"
						class="link-address element-animation"
						>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
					>
				</li>
				<li>
					<p class="element-animation">Mondai - friday</p>
					<p class="time element-animation">06:00 AM - 10:00 PM</p>
				</li>
				<li class="li-time">
					<p class="element-animation">Saturday - Sunday</p>
					<p class="time element-animation">08:00 AM - 16:00 PM</p>
				</li>
				<li class="element-animation">
					<a href="tel:+610383766284" class="tell">+61(0) 383 766 284</a>
					<a href="mail.to:noreply@envato.com" class="mail">noreply@envato.com</a>
				</li>
			</ul>
		</div>

		<div class="card-address">
			<h2 class="title element-animation">Food truck</h2>
			<p class="name-food element-animation">FOOD TRUCK</p>
			<ul>
				<li class="li-town">
					<p class="town element-animation">Los Angeles</p>
					<a
						target="blank"
						href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x80c2b3eca6743829:0x98448969b9b4373d?sa=X&ved=2ahUKEwjY78n68d78AhXsxIsKHUdfDs8Q8gF6BAgXEAI"
						class="link-address element-animation"
						>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
					>
				</li>
				<li>
					<p class="element-animation">Mondai - friday</p>
					<p class="time element-animation">06:00 AM - 10:00 PM</p>
				</li>
				<li class="li-time">
					<p class="element-animation">Saturday - Sunday</p>
					<p class="time element-animation">08:00 AM - 16:00 PM</p>
				</li>
				<li class="element-animation">
					<a href="tel:+610383766284" class="tell">+61(0) 383 766 284</a>
					<a href="mail.to:noreply@envato.com" class="mail">noreply@envato.com</a>
				</li>
			</ul>
		</div>

		<div class="card-address">
			<h2 class="title element-animation">Cafe</h2>
			<p class="name-cafe element-animation">CAFE</p>
			<ul>
				<li class="li-town">
					<p class="town element-animation">New York</p>
					<a
						target="blank"
						href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
						class="link-address element-animation"
						>726 Sterling Pl, Brooklyn, NY 11222, USA</a
					>
				</li>
				<li>
					<p class="element-animation">Mondai - friday</p>
					<p class="time element-animation">06:00 AM - 10:00 PM</p>
				</li>
				<li class="li-time">
					<p class="element-animation">Saturday - Sunday</p>
					<p class="time element-animation">08:00 AM - 16:00 PM</p>
				</li>
				<li class="element-animation">
					<a href="tel:+610383766284" class="tell">+61(0) 383 766 284</a>
					<a href="mail.to:noreply@envato.com" class="mail">noreply@envato.com</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="content-button container">
		<button type="button" class="button-locations js-open-modal element-animation" data-modal="6">
			Our Locations
			<svg class="button-icon">
				<use href="./images/img/svg/sprite.svg#icon-button-arrow"></use>
			</svg>
		</button>

		<button type="button" class="button-franchise js-open-modal element-animation" data-modal="7">
			Franchise
			<svg class="button-icon">
				<use href="./images/img/svg/sprite.svg#icon-button-arrow"></use>
			</svg>
		</button>
	</div>
</section>
