<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/moi.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
</head>

<body>
    <section class="">

        <div class="address">

            <div class="card-address">
                <h2 class="title">Cafe</h2>
                <p class="name-cafe">CAFE</p>
                <ul>
                    <li class="li-town">
                        <p class="town">Chicago</p>
                        <a href="" class="link-address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </li>
                    <li>
                        <p>Mondai - friday</p>
                        <p class="time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="li-time">
                        <p>Saturday - Sunday</p>
                        <p class="time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li>
                        <a href="tel:+61(0) 383 766 284" class="tell">+61(0) 383 766 284</a>
                        <a href="mail.to:noreply@envato.com" class="mail">noreply@envato.com</a>
                    </li>
                </ul>
            </div>



            <div class="card-address">
                <h2 class="title">Food truck</h2>
                <p class="name-food">FOOD TRUCK</p>
                <ul>
                    <li class="li-town">
                        <p class="town">Los Angeles</p>
                        <a href="" class="link-address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </li>
                    <li>
                        <p>Mondai - friday</p>
                        <p class="time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="li-time">
                        <p>Saturday - Sunday</p>
                        <p class="time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li>
                        <a href="tel:+61(0) 383 766 284" class="tell">+61(0) 383 766 284</a>
                        <a href="mail.to:noreply@envato.com" class="mail">noreply@envato.com</a>
                    </li>
                </ul>
            </div>



            <div class="card-address">
                <h2 class="title">Cafe</h2>
                <p class="name-cafe">CAFE</p>
                <ul>
                    <li class="li-town">
                        <p class="town">New York</p>
                        <a href="" class="link-address">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </li>
                    <li>
                        <p>Mondai - friday</p>
                        <p class="time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="li-time">
                        <p>Saturday - Sunday</p>
                        <p class="time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li>
                        <a href="tel:+61(0) 383 766 284" class="tell">+61(0) 383 766 284</a>
                        <a href="mail.to:noreply@envato.com" class="mail">noreply@envato.com</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="content-button">
            <button type="button" class="button-locations">Our Locations</button>
            <svg>
                <use href="./pictures/svg button.txt#icon-button_arrow"></use>
            </svg>
            <Button type="button" class="button-franchise">Franchise</Button>
        </div>





    </section>
</body>

</html>