<!-- Успіху всім нам в написанні цього проекту! Тільки вперед IT-Monsters 😈  -->

<footer>
    <div class="container body footer">
        <div class="row">
            <div class="row-text">
                <h4 class="row-top">homemade ice cream made </h4>
                <h4 class="row-bottom">with passion</h4>
            </div>
            <div class="row-contact">
                <ul class="row-list contact-list">
                    <li class="row-item">
                        <a href="https://github.com/Andrii-Pershko/project_team-9" target="_blank" class="row-link">
                            <svg width="34px" height="34px" class="row-icon">
                                <use href="/src/images/img/svg/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="row-item">
                      <a href="https://telegram.org/" target="_blank" class="row-link">
                          <svg width="34px" height="34px" class="row-icon">
                              <use href="/src/images/img/svg/sprite.svg#icon-telegram"></use>
                          </svg>
                      </a>
                  </li>
                  <li class="row-item">
                    <a href="https://www.facebook.com/" target="_blank" class="row-link">
                        <svg width="34px" height="34px" class="row-icon">
                            <use href="/src/images/img/svg/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                </ul>
                <div class="row-phone">
                    <p class="row-phone-text">Feel free to contact</p>
                    <a class="row-phone-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </div>
            </div>
        </div>
        <div class="footer-copy">
          <p class="copy-text">© 2022 - IceCream. All Rights Reserved.</p>
        </div>   
    </div>
</footer>
