<!-- Успіху всім нам в написанні цього проекту! Тільки вперед IT-Monsters 😈  -->

<!-- Элементы для вызова модальных окон, могут быть любые -->
<!-- <a href="#" class="js-open-modal" data-modal="1">BUY NOW</a> -->
<!-- <h1 class="title">Lorem ipsum dolor sit amet.</h1> -->
<header class="header">
  <div class="container general">
    <a class="logo" href="index.html">
      <img
        src="/src/images/img/header/logo.png"
        alt="logotype"
        class="logo-img"
      />
    </a>
    <nav class="navigation">
      <ul class="menu-general list">
        <li class="menu-item">
          <a class="menu-link link" href="">Home</a>
        </li>
        <li class="menu-item">
          <a class="menu-link link" href="">How it’s made?</a>
        </li>
        <li class="menu-item">
          <a class="menu-link link" href="">Our products</a>
        </li>
        <li class="menu-item">
          <a class="menu-link link" href="">Contact</a>
        </li>
      </ul>
      <button class="mobil-menu-open" type="button" data-menu-open>
        <svg class="mobil-menu-open-icon">
          <use href="./images/img/svg/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <a href="#" class="js-open-modal" data-modal="1">
        <button class="modal-btn" type="button">
          Buy now
          <svg class="modal-btn-arrow">
            <use href="./images/img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </a>
    </nav>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container menu-container">
      <div class="menu-logo-btn">
        <img
          src="/src/images/img/header/logo.png"
          alt="logo"
          class="menu-logo"
        />
        <button class="mobile-close-btn" type="button" data-menu-close>
          <svg width="20" height="20" class="mobile-menu__icon-close">
            <use href="./images/img/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <ul class="mobile-nav list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" id="home">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" id="made">How it’s made?</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" id="products">Our products</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" id="contact">Contact</a>
        </li>
      </ul>
      <button class="mobile-modal-btn" type="button">
        Buy now
        <svg class="modal-btn-arrow">
          <use href="./images/img/svg/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<script src="./js/mobil-menu.js"></script>
