<!-- Успіху всім нам в написанні цього проекту! Тільки вперед IT-Monsters 😈  -->

<header class="header">
	<div class="container general">
		<a class="logo" href="index.html">
			<img src="./images/img/header/logo.png" alt="logotype" class="logo-img" />
		</a>
		<nav class="navigation">
			<ul class="menu-general list">
				<li class="menu-item">
					<a class="menu-link link" href="/src/index.html">Home</a>
				</li>
				<li class="menu-item">
					<a class="menu-link link" href="#about">How it’s made?</a>
				</li>
				<li class="menu-item">
					<a class="menu-link link" href="#products">Our products</a>
				</li>
				<li class="menu-item">
					<a class="menu-link link" href="#contact">Contact</a>
				</li>
			</ul>
			<a class="mobil-menu-open" type="button" data-menu-open>
				<svg class="mobil-menu-open-icon">
					<use href="./images/img/svg/sprite.svg#icon-burger"></use>
				</svg>
			</a>
			<a class="modal-btn js-open-modal js-stop-scroll-buy-now" type="button" data-modal="1">
				Buy now
				<svg class="modal-btn-arrow">
					<use href="./images/img/svg/sprite.svg#icon-button-arrow"></use>
				</svg>
			</a>
		</nav>
	</div>
</header>
<div class="mobile-menu" data-menu>
	<div class="container menu-container">
		<div class="menu-logo-btn">
			<img src="./images/img/header/logo.png" alt="logo" class="menu-logo" />
			<button class="mobile-close-btn" type="button" data-menu-close>
				<svg width="32" height="32" class="mobile-menu__icon-close">
					<use href="./images/img/svg/sprite.svg#icon-close"></use>
				</svg>
			</button>
		</div>
		<ul class="mobile-nav list">
			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="/src/index.html">Home</a>
				<a href=""></a>
			</li>
			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#about" myCloseBtnHow>How it’s made?</a>
			</li>
			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#products" myCloseBtnOur>Our products</a>
			</li>
			<li class="mobile-menu-item">
				<a class="mobile-menu-link link" href="#contact" myCloseBtnContact>Contact</a>
			</li>
		</ul>
		<a href="#" class="js-open-modal" data-modal="1">
			<button class="mobile-modal-btn" type="button">
				Buy now
				<svg class="modal-btn-arrow">
					<use href="./images/img/svg/sprite.svg#icon-button-arrow"></use>
				</svg>
			</button>
		</a>
	</div>
</div>
<script src="/src/js/mobil-menu.js"></script>
