<section class="hero-header">
	<div class="container hero">
		<h1 class="hero-title animate__animated animate__lightSpeedInLeft">
			Ice cream made with <span class="passion">passion</span>
		</h1>

		<div class="btn-link">
			<a href="#products" class="products-btn">Product</a>

			<a class="made-link" href="#about">How it's made</a>
		</div>

		<div class="ice-text-arrow">
			<picture class="animate__animated animate__zoomIn">
				<source srcset="./images/img/hero/desktop/many.ice-cream.2x.png 2x" media="(min-width: 1200px)" />
				<source srcset="./images/img/hero/tablet/many.ice-cream.2x.png 2x" media="(min-width: 768px)" />
				<img
					class="many-ice-cream animate__animated animate__zoomIn"
					srcset="./images/img/hero/desktop/many.ice-cream.2x.png 2x"
					src="./images/img/hero/desktop/many.ice-cream.png"
					alt="many ice-cream"
				/>
			</picture>
			<div class="text-arrow">
				<p class="text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				</p>

				<svg class="arrow" width="40" height="16">
					<use href="./images/img/svg/sprite.svg#icon-arrow"></use>
				</svg>
			</div>
		</div>

		<picture>
			<source srcset="./images/img/hero/desktop/ice.cream.2x.png 2x" media="(min-width: 1200px)" />
			<source srcset="./images/img/hero/tablet/ice.cream.2x.png 2x" media="(min-width: 768px)" />
			<source srcset="./images/img/hero/modile/ice.cream.2x.png 2x" media="(max-width: 767px)" />

			<img
				class="ice-cream"
				srcset="./images/img/hero/desktop/ice.cream.2x.png 2x"
				src="./images/img/hero/desktop/ice.cream.png"
				alt="ice-cream"
			/>
		</picture>
		<ul class="quantity">
			<li class="cafes"><span class="number">16</span>&nbsp;cafes</li>
			<li class="trucks"><span class="number">23</span>&nbsp;food trucks</li>
		</ul>
	</div>
</section>
