<div class="modal modal-ingredients" data-modal="2">
	<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<use href="/src/images/img/svg/sprite.svg#icon-close"></use>
	</svg>

	<h2 class="title-modal-ingredients">ice cream</h2>

	<div class="modal-icecream-img-thumb">
		<img
			class="modal-icecream-img"
			srcset="
				./images/img/products/tablet-mobile/ice.cream.png    1x,
				./images/img/products/tablet-mobile/ice.cream.2x.png 2x
			"
			src="./images/img/products/tablet-mobile/ice.cream.png"
			alt="ice cream"
			width="132"
		/>
	</div>

	<ul class="modal-ingredients-list">
		<li>
			<div class="modal-list-contane-icecream">
				<div class="contane-icecream">
					<p class="modal-ingredients-text-amount">320</p>
				</div>
				<p class="modal-ingredients-text-contane">kcal</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-icecream">
				<div class="contane-icecream">
					<p class="modal-ingredients-text-amount">4g</p>
				</div>
				<p class="modal-ingredients-text-contane">Prote...</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-icecream">
				<div class="contane-icecream">
					<p class="modal-ingredients-text-amount">8,2g</p>
				</div>
				<p class="modal-ingredients-text-contane">Fats</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-icecream">
				<div class="contane-icecream">
					<p class="modal-ingredients-text-amount">40,4g</p>
				</div>
				<p class="modal-ingredients-text-contane">Carbs</p>
			</div>
		</li>
	</ul>

	<h2 class="modal-ingredients-title-product">Ingredients</h2>

	<ul class="modal-ingredients-list-product">
		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Milk</span>
				<span>100ml</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Belgian chocolate</span>
				<span>20g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Cream</span>
				<span>150 ml</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Cocoa powder</span>
				<span> 30g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Sugar</span>
				<span>40g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Milk</span>
				<span>10g</span>
			</div>
		</li>
	</ul>

	<!-- Form -->

	<form class="modal-ingredients-form" autocomplete="on">
		<label class="modal-ingredients-form-field" for="name-icecream">
			<input type="text" class="modal-icecream-form-input" name="name" required id="name-icecream" placeholder="Name"
		/></label>

		<label class="form-field" for="phone-icecream">
			<input
				type="tel"
				class="modal-icecream-form-input"
				name="phone"
				pattern="[0-9]{10}"
				title="введіть 10 цифр номеру телефону починаючи з 0 (приклад 0991111111)"
				id="phone-icecream"
				placeholder="Phone"
		/></label>

		<label class="modal-ingredients-form-field" for="textarea-icecream">
			<textarea
				class="modal-icecream-form-input-text"
				name="input-text"
				id="textarea-icecream"
				cols="30"
				rows="10"
				placeholder="Comment"
			></textarea>
		</label>

		<button type="submit" class="modal-ingredients-subscribe-button">Submit</button>
	</form>
</div>

<!-- Ice coffe -->

<div class="modal modal-ingredients" data-modal="3">
	<!-- <button class="button-close-modal-ingredients" aria-label="close"> -->
	<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<use href="/src/images/img/svg/sprite.svg#icon-close"></use>
	</svg>
	<!-- </button> -->

	<h2 class="title-modal-ingredients">ice coffee</h2>

	<div class="modal-icecoffee-img-thumb">
		<img
			class="modal-icecoffee-img"
			srcset="
				./images/img/products/tablet-mobile/ice.coffee.png    1x,
				./images/img/products/tablet-mobile/ice.coffee.2x.png 2x
			"
			src="./images/img/products/tablet-mobile/ice.coffee.png"
			alt="ice coffee"
			width="132"
		/>
	</div>

	<ul class="modal-ingredients-list">
		<li>
			<div class="modal-list-contane-icecoffe">
				<div class="contane-icecoffe">
					<p class="modal-ingredients-text-amount">320</p>
				</div>
				<p class="modal-ingredients-text-contane">kcal</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-icecoffe">
				<div class="contane-icecoffe">
					<p class="modal-ingredients-text-amount">4g</p>
				</div>
				<p class="modal-ingredients-text-contane">Prote...</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-icecoffe">
				<div class="contane-icecoffe">
					<p class="modal-ingredients-text-amount">8,2g</p>
				</div>
				<p class="modal-ingredients-text-contane">Fats</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-icecoffe">
				<div class="contane-icecoffe">
					<p class="modal-ingredients-text-amount">40,4g</p>
				</div>
				<p class="modal-ingredients-text-contane">Carbs</p>
			</div>
		</li>
	</ul>

	<h2 class="modal-ingredients-title-product">Ingredients</h2>

	<ul class="modal-ingredients-list-product">
		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Milk</span>
				<span>100ml</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Belgian chocolate</span>
				<span>20g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Cream</span>
				<span>150 ml</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Cocoa powder</span>
				<span> 30g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Sugar</span>
				<span>40g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Milk</span>
				<span>10g</span>
			</div>
		</li>
	</ul>

	<!-- Form -->

	<form class="modal-ingredients-form" autocomplete="on">
		<label class="modal-ingredients-form-field" for="name-icecoffe">
			<input type="text" class="modal-icecoffe-form-input" id="name-icecoffe" name="name" required placeholder="Name" />
		</label>

		<label class="form-field" for="phone-icecoffe">
			<input
				type="tel"
				class="modal-icecoffe-form-input"
				name="phone"
				pattern="[0-9]{10}"
				title="введіть 10 цифр номеру телефону починаючи з 0 (приклад 0991111111)"
				id="phone-icecoffe"
				placeholder="Phone"
		/></label>

		<label class="modal-ingredients-form-field" for="textarea-icecoffe">
			<textarea
				class="modal-icecoffe-form-input-text"
				name="input-text"
				id="textarea-icecoffe"
				cols="30"
				rows="10"
				placeholder="Comment"
			></textarea>
		</label>

		<button type="submit" class="modal-ingredients-subscribe-button">Submit</button>
	</form>
</div>

<!-- Milkshakes -->

<div class="modal modal-ingredients" data-modal="4">
	<!--   Svg иконка для закрытия окна  -->
	<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<use href="/src/images/img/svg/sprite.svg#icon-close"></use>
	</svg>
	<!-- <button class="button-close-modal-ingredients" aria-label="close"> -->
	<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<use href="/src/images/img/svg/sprite.svg#icon-close"></use>
	</svg>
	<!-- </button> -->

	<h2 class="title-modal-ingredients">milkshakes</h2>

	<div class="modal-milkshakes-img-thumb">
		<img
			class="modal-milkshakes-img"
			srcset="
				./images/img/products/tablet-mobile/milkshakes.png    1x,
				./images/img/products/tablet-mobile/milkshakes.2x.png 2x
			"
			src="./images/img/products/tablet-mobile/milkshakes.png"
			alt="milkshakes"
			width="132"
		/>
	</div>

	<ul class="modal-ingredients-list">
		<li>
			<div class="modal-list-contane-milkshakes">
				<div class="contane-milkshakes">
					<p class="modal-ingredients-text-amount">320</p>
				</div>
				<p class="modal-ingredients-text-contane">kcal</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-milkshakes">
				<div class="contane-milkshakes">
					<p class="modal-ingredients-text-amount">4g</p>
				</div>
				<p class="modal-ingredients-text-contane">Prote...</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-milkshakes">
				<div class="contane-milkshakes">
					<p class="modal-ingredients-text-amount">8,2g</p>
				</div>
				<p class="modal-ingredients-text-contane">Fats</p>
			</div>
		</li>

		<li>
			<div class="modal-list-contane-milkshakes">
				<div class="contane-milkshakes">
					<p class="modal-ingredients-text-amount">40,4g</p>
				</div>
				<p class="modal-ingredients-text-contane">Carbs</p>
			</div>
		</li>
	</ul>

	<h2 class="modal-ingredients-title-product">Ingredients</h2>

	<ul class="modal-ingredients-list-product">
		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Milk</span>
				<span>100ml</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Belgian chocolate</span>
				<span>20g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Cream</span>
				<span>150 ml</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Cocoa powder</span>
				<span> 30g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Sugar</span>
				<span>40g</span>
			</div>
		</li>

		<li class="modal-ingredients-item">
			<div class="modal-ingredients-item-text">
				<span>Milk</span>
				<span>10g</span>
			</div>
		</li>
	</ul>

	<!-- Form -->

	<form class="modal-ingredients-form" autocomplete="on">
		<label class="modal-ingredients-form-field" for="name-milkshakes">
			<input
				type="text"
				class="modal-milkshakes-form-input"
				name="name"
				required
				id="name-milkshakes"
				placeholder="Name"
			/>
		</label>

		<label class="form-field" for="phone-milkshakes">
			<input
				type="text"
				class="modal-milkshakes-form-input"
				name="phone"
				pattern="[0-9]{10}"
				title="введіть 10 цифр номеру телефону починаючи з 0 (приклад 0991111111)"
				id="phone-milkshakes"
				placeholder="Phone"
		/></label>

		<label class="modal-ingredients-form-field" for="textarea-milkshakes">
			<textarea
				class="modal-milkshakes-form-input-text"
				name="input-text"
				id="textarea-milkshakes"
				cols="30"
				rows="10"
				placeholder="Comment"
			></textarea>
		</label>

		<button type="submit" class="modal-ingredients-subscribe-button">Submit</button>
	</form>
</div>
