<!-- Успіху всім нам в написанні цього проекту! Тільки вперед IT-Monsters 😈  -->
<div class="modal modal-ingredients" data-modal="2">
	<!--   Svg иконка для закрытия окна  -->
	<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path
			d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
		/>
	</svg>
	<!-- <p class="modal__title">ICE CREAM</p> -->

	<!-- <div class="modal-ingredients"> -->
		<!-- <button class="button-close-modal-ingredients" aria-label="close"> -->
			<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path
					d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
				/>
			</svg>
			
			<!-- <svg class="icon-close-modal-ingredients" width="8" height="8">
				<use href="./img/icons.svg#icon-close-black"></use>
			</svg> -->
		</button>

		<h2 class="title-modal-ingredients">ice cream</h2>

		<div class="modal-ingredients-img-thumb">

			<img class="modal-ingredients-img"                        
				srcset="
				./images/img/products/tablet-mobile/ice.cream.png 1x,
				./images/img/products/tablet-mobile/ice.cream.2x.png 2x
				" 
				src="./images/img/products/tablet-mobile/ice.cream.png"
				alt="ice cream"
				width="132">


			<!-- <img class="modal-ingredients-img"
			src="./img/icecream.jpg" alt="icecream"> -->
		</div>

			<ul class="modal-ingredients-list">

				<li>
					<div class="modal-list-contane">
						<div class="contane">
							<p class="modal-ingredients-text-amount">320</p>
						</div>
						<p class="modal-ingredients-text-contane">kcal</p>
					</div>
				</li>

				<li>
					<div class="modal-list-contane">
						<div class="contane">
							<p class="modal-ingredients-text-amount">4g</p>
						</div>
						<p class="modal-ingredients-text-contane">Prote...</p>
					</div>
				</li>
				
				<li>
					<div class="modal-list-contane">
						<div class="contane">
							<p class="modal-ingredients-text-amount">8,2g</p>
						</div>
						<p class="modal-ingredients-text-contane">Fats</p>
					</div>
				</li>
				
				<li>
					<div class="modal-list-contane">
						<div class="contane">
							<p class="modal-ingredients-text-amount">40,4g</p>
						</div>
						<p class="modal-ingredients-text-contane">Carbs</p>
					</div>
				</li>

			</ul>

<h2 class="modal-ingredients-title-product">Ingredients</h2>

<ul class="modal-ingredients-list-product">

<li class="modal-ingredients-item">       
	<div class="modal-ingredients-item-text"><span>Milk</span>
		<span>100ml</span>
	</div>
</li>

<li class="modal-ingredients-item">
	<div class="modal-ingredients-item-text"><span>Belgian chocolate</span>
		<span>20g</span>
	</div>
</li>

<li class="modal-ingredients-item">
	<div class="modal-ingredients-item-text"><span>Cream</span>
		<span>150 ml</span>
	</div>
</li>

<li class="modal-ingredients-item">
	<div class="modal-ingredients-item-text"><span>Cocoa powder</span>
		<span> 30g</span>
	</div>
</li>

<li class="modal-ingredients-item">
	<div class="modal-ingredients-item-text"><span>Sugar</span>
		<span>40g</span>
	</div>
</li>

<li class="modal-ingredients-item">
	<div class="modal-ingredients-item-text"><span>Milk</span>
		<span>10g</span>
	</div>
</li>
</ul>

<form class="modal-ingredients-form">

	<label class="modal-ingredients-form-field" for="name">
	</label>
		<input type="text" class="modal-ingredients-form-input" name="name"
		placeholder="Name"/>
	</label>
	
	<label class="form-field" for="phone"></label>
		<input type="text" class="modal-ingredients-form-input" name="phone"
		placeholder="Phone"/>

	
	<label class="modal-ingredients-form-field" for="textarea"></label>
		<textarea class="modal-ingredients-form-input-text" name="input-text" id="textarea" cols="30" rows="10" placeholder="Comment"></textarea>
	</label>
	
	
<button type="submit" class="modal-ingredients-subscribe-button">Submit
	</button>

		</form>
	<!-- </div> -->






	
</div>














<div class="modal" data-modal="3">
	<!--   Svg иконка для закрытия окна  -->
	<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path
			d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
		/>
	</svg>
	<p class="modal__title">Заголовок окна 2 ICE</p>
</div>
<div class="modal" data-modal="4">
	<!--   Svg иконка для закрытия окна  -->
	<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path
			d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
		/>
	</svg>
	<p class="modal__title">Заголовок окна 3 ICE</p>
</div>

