<!-- Успіху всім нам в написанні цього проекту! Тільки вперед IT-Monsters 😈  -->
<body>
	<main>
		<section class="section">
			<div class="container-products">
				<p class="laba">100% natural</p>
				<h1 class="section-title">PRODUCTS</h1>
				<ul class="products-card-set">
					<li class="products-card-item">
						<article class="card-icecream">
							<div class="card-thumb-icecream">
								<!--<img
									class="icecream-img"
									srcse="./images/img/products/tablet-mobile/ice.cream.png 1x,
				                       ./images/img/products/tablet-mobile/ice.cream.2x.png 2x"
									src="./images/img/products/tablet-mobile/ice.cream.png"
									alt="ice cream"
									width="200"
									height="211"
									alt="Ice Cream"
								/>-->
							</div>

							<div class="card-content">
								<h2 class="card-title">ICE CREAM</h2>
								<p class="card-text">
									Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
								</p>
								<a href="" class="js-open-modal" data-modal="2">
									<svg class="icon" width="40" height="16">
										<use href="/src/images/img/svg/svg/Arrow_black.svg"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="products-card-item">
						<article class="card-icecoffee">
							<div class="card-thumb-icecoffee">
								<!--<img
									class="icecoffee-img"
									srcse="./images/img/products/tablet-mobile/ice.coffee.png 1x,
				                       ./images/img/products/tablet-mobile/ice.coffee.2x.png 2x"
									src="./images/img/products/tablet-mobile/ice.coffee.png"
									width="200"
									height="211"
									alt="Ice Coffee"
								/>-->
							</div>
							<div class="card-content">
								<h2 class="card-title">ICE COFFEE</h2>
								<p class="card-text">
									Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
								</p>

								<a href="" class="js-open-modal" data-modal="3">
									<svg class="icon" width="40" height="16">
										<use href="/src/images/img/svg/svg/Arrow_black.svg"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>

					<li class="products-card-item">
						<article class="card-milkshakes">
							<div class="card-thumb-milkshakes">
								<!--<img
									class="milkshakes-img"
									srcse="./images/img/products/tablet-mobile/milkshakes.png 1x,
				                       ./images/img/products/tablet-mobile/milkshakes.2x.png 2x"
									src="./images/img/products/tablet-mobile/milkshakes.png"
									width="200"
									height="211"
									alt="Milkshakes"
								/>-->
							</div>
							<div class="card-content">
								<h2 class="card-title">MILKSHAKES</h2>
								<p class="card-text">
									Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
								</p>

								<a href="" class="js-open-modal" data-modal="4">
									<svg class="icon" width="40" height="16">
										<use href="/src/images/img/svg/svg/Arrow_black.svg"></use>
									</svg>
								</a>
							</div>
						</article>
					</li>
				</ul>
			</div>
		</section>
	</main>
</body>

<!--About-->
<!--Advantages-->
<!--Gallery-->
<!--Contacts-->
<!--Footer-->

<!--
<ul>
	<li><a href="#" class="js-open-modal" data-modal="2">1 ICE</a></li>
	<li><a href="#" class="js-open-modal" data-modal="3">2 ICE</a></li>
	<li><a href="#" class="js-open-modal" data-modal="4">3 ICE</a></li>
</ul>-->
