<!-- Успіху всім нам в написанні цього проекту! Тільки вперед IT-Monsters 😈  -->
<section class="section" id="products">
	<div class="container products">
		<p class="laba">100% natural</p>
		<h1 id="products" class="products-title">PRODUCTS</h1>
		<ul class="products-card-set">
			<li class="products-card-item">
				<article class="card-icecream">
					<div class="card-thumb-icecream">
					</div>
					<div class="card-content">
						<h2 class="card-title">ICE CREAM</h2>
						<p class="card-text">
							Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
						</p>
						<a href="" class="js-open-modal product-arrow" data-modal="2">
							<svg class="icon" width="40" height="16">
								<use href="/src/images/img/svg/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="products-card-item">
				<article class="card-icecoffee">
					<div class="card-thumb-icecoffee">
					</div>
					<div class="card-content">
						<h2 class="card-title">ICE COFFEE</h2>
						<p class="card-text">
							Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
						</p>

						<a href="" class="js-open-modal product-arrow" data-modal="3">
							<svg class="icon" width="40" height="16">
								<use href="/src/images/img/svg/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="products-card-item">
				<article class="card-milkshakes">
					<div class="card-thumb-milkshakes">
					</div>
					<div class="card-content">
						<h2 class="card-title">MILKSHAKES</h2>
						<p class="card-text">
							Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
						</p>

						<a href="#" class="js-open-modal product-arrow" data-modal="4">
							<svg class="icon" width="40" height="16">
								<use href="/src/images/img/svg/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>

