<!-- Успіху всім нам в написанні цього проекту! Тільки вперед IT-Monsters 😈  -->
<section class="section-products">
     <div class="conteiner">
       <h1 class="section-title">PRODUCTS</h1>
        <ul class="products-card-set">
          <li class="products-card-item">
            <article class="card">
              <div class="card-thumb">
                <!--<img class="card-img"
                 src="../images/img/products/tablet-mobile/ice.cream.png"
                 width="200"    
                 height="211"
                 alt="Ice Cream">-->
              </div>
              <div class="card-content">
                <h2 class="card-title">ICE CREAM</h2>
                <p class="card-text">
                  Soft ice cream with a 
                  delicate taste. Made with 
                  milk, cream, sugar and
                  natural stabilizer
                 </p>
              </div>
              Hello
            </article>
          </section>
<!--
<ul>
	<li><a href="#" class="js-open-modal" data-modal="2">1 ICE</a></li>
	<li><a href="#" class="js-open-modal" data-modal="3">2 ICE</a></li>
	<li><a href="#" class="js-open-modal" data-modal="4">3 ICE</a></li>
</ul>-->
